<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>FredSystems.</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

</head>
<body>
<button class="buttonOne; btn btn-danger">Success Button</button>
<div class="container " >
    <div class="row" >
        <div th:each="product : ${products}">
            <div class="col-md-3">
                <img  style="max-width: 100%; height: auto;"  th:src="@{'/images/' + ${product.carImage}} "/>
                <div class="label-text">
                    <label>Car Model: </label> <span class="text-category" th:text="${product.carModel}"></span>
                </div>
                <div class="price-text">
                    <label>Car Price: </label>   <span class="text-category" th:text="${product.price}"></span>
                </div>

                <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''DEALER'')')}">
                    <label>Status: </label> <span class="text-category" th:text="${product.status}"></span>
                </div>

                <div class="location">
                    <label>Location: </label> <span class="text-category" th:text="${product.location}"></span>
                </div>

                <div class="milleage">
                    <label>Milleage: </label> <span class="text-category" th:text="${product.milleage}"></span>
                </div>
<!--                <input type="submit" value="Add to Cart"/>-->
                <form a ction="#" th:action="@{'/addToCart/'+${product.carId}}" th:method="POST" >
                    <button type="submit" id="addToCart" name="addItem">Add To Cart </button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>